@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
body 
{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color:black;
  line-height: 1.6;
}

.carousel-caption.custom-caption 
{
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 24px;
  color: white;
}

.card:hover 
{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.title
{
  font-family: 'Poppins', sans-serif;
  color:#6a0b33;
}

.d-grid input[type="submit"]
{
  background-color:#6a0b33;
  font-weight:bold;
  color: white;
  border: none;
  padding: 5px 0px;
}

